@using FishResident.Services
@model FishResident.Models.Residence
@inject IPermissionService UserPermissions

@{
    ViewData["Title"] = "Details";
    var canEdit = UserPermissions.IsOwnerOfResidence(Model);
}

<div class="container-fluid _flat">
    <div class="container _flat">
        <h1 class="flat__name">@Model.Address</h1>
        <div class="flat__info">
            <div class="flat__photos">
                @foreach (ResidencePhoto photo in Model.ResidencePhotos)
                {
                <div class="flat__photo">
                    <img alt="" src="@photo.Path" />
                    @if (canEdit)
                    {
                        <br />
                        <a asp-controller="ResidencePhotos" asp-action="Delete" asp-route-id="@photo.Id" style="color: red;">Delete</a>
                    }
                </div>
                }
            </div>
            <div class="flat__description">
                <h2>Specifications</h2>

                <ul class="results__info">
                    <li class="results__info-price"> Price: @Model.Cost</li>
                    <li class="results__info-price"> Area: @Model.Area</li>
                    @foreach (var feature in Model.Features)
                    {
                        <li class="results__info-price">@feature.FeatureType.Name: @feature.Value</li>
                    }

                    @if (canEdit)
                    {
                    <li class="results__info-price">
                        <span style="background-image: url('/i/remove.svg');  background-repeat: no-repeat"> </span>
                        <button class="compare">Remove listing</button>
                    </li>
                    }
                </ul>
            </div>
            <!--<form method="get" action="/ajax/registration.php" class="flat__form js-validate" id="js-form-validate">
                <h2>Request information</h2>
                <div class="fields">
                    <div class="field js-field">
                        <label for="">Full Name</label>
                        <input name="name" type="text" required>
                    </div>
                    <div class="field js-field">
                        <label for="">E-mail</label>
                        <input name="email" type="email" required>
                    </div>

                    <div class="field js-field">
                        <label for="">Phone number</label>
                        <input name="tel" type="text" required>
                    </div>

                    <div class="field js-field">
                        <label for="">More info</label>
                        <textarea name="info" required> </textarea>
                    </div>
                </div>
                <button type="submit" class="btn _default _registration">Get apartment</button>
            </form>-->
        </div>
    </div>
</div>