@using FishResident.Services
@model IEnumerable<FishResident.Models.Residence>
@inject IPermissionService UserPermissions

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid _search-results">
    <div class="container _search-results">
        <div class="results" style="width: 100%">
            <div class="results__wrap">
                <h1>
                    My residences
                    <a asp-action="Create" style="display: inline; position: relative; top: -5px; left: 30px;">
                        <button class="btn _default _registration">Add new</button>
                    </a>
                </h1>
            </div>
            <div class="results__filters">
                <div class="filters">
                    <div class="filters__type-flat">
                        <p>Agreements for you</p>
                        @foreach (var agreement in ViewBag.Agreements)
                        {
                            <span>
                                @agreement.Owner.Email wants to rent
                                <a href="/Residences/Details?id=@agreement.ResidenceId">
                                    @agreement.Residence.Area sq. m, $@agreement.Residence.Cost @agreement.Residence.Type.Name
                                </a>
                            </span>
                            <br />
                            @if (agreement.isDone)
                            {
                                <text>--already accepted.</text>
                            } else {
                            <form asp-action="Edit" asp-controller="Agreements">
                                <input type="hidden" name="id" value="@agreement.Id" />
                                <span style="background-image: url('/i/circle.svg');  background-repeat: no-repeat"> </span>
                                <button class="compare">Accept</button>
                            </form>
                            <form asp-action="Delete" asp-controller="Agreements">
                                <input type="hidden" name="id" value="@agreement.Id" />
                                <span style="background-image: url('/i/delete.svg');  background-repeat: no-repeat"> </span>
                                <button class="compare">Decline</button>
                            </form>
                            }
                        }
                    </div>
                </div>
                <div class="results__items">
                    @foreach (var residence in Model)
                    {
                    <a class="results__item" href="/Residences/Details?id=@residence.Id" style="height: 100px">
                        <div class="results__title">
                            @if (residence.ResidencePhotos.Count() > 0)
                            {
                                <img alt="" src="@residence.ResidencePhotos.First().Path" />
                            }
                            else
                            {
                                <img alt="" src="/i/item-2.jpg" />
                            }
                        </div>
                        <div class="results__description">
                            <span class="results__description-name">@residence.Area sq. m, $@residence.Cost @residence.Type.Name</span>
                        </div>
                        <ul class="results__info">
                            <li class="results__info-price">
                                <span style="background-image: url('/i/remove.svg');  background-repeat: no-repeat"> </span>
                                <button class="compare" onclick="window.location.assign('/Residences/Delete/@residence.Id'); event.preventDefault()">Remove listing</button>
                            </li>
                            <li class="results__info-price">
                                <span style="background-image: url('/i/edit.svg');  background-repeat: no-repeat"> </span>
                                <button class="compare" onclick="window.location.assign('/Residences/Edit/@residence.Id'); event.preventDefault()">Edit information</button>
                            </li>
                        </ul>
                    </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>